@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

.container-after-toolbar {
    margin-top: 64px;
}

.toolbar_footer {
    z-index: 10;
}

.max-height {
    height: 100%;
}

.inherit-height {
    height: inherit;
}

.v-btn__content .v-icon {
    font-size: 16px;
}

.ql-picker-item span[data-value="Sans Serif"]::before {
    font-family: "Sans Serif";
}

.ql-font span[data-value="Inconsolata"]::before {
    font-family: "Inconsolata";
}

.ql-picker-item span[data-value="Roboto"]::before {
    font-family: "Roboto";
}

.ql-picker-item span[data-value="Mirza"]::before {
    font-family: "Mirza";
}

.ql-picker-item span[data-value="Arial"]::before {
    font-family: "Arial";
}

/* Set content font-families */

.ql-picker-item-inconsolata {
    font-family: "Inconsolata";
}

.ql-picker-item-roboto {
    font-family: "Roboto";
}

.ql-font-mirza {
    font-family: "Mirza";
}

.ql-font-arial {
    font-family: "Arial";
}

.h1>div>div>div>input {
    font-size: 2em;
    font-weight: bold;
}

.h2>div>div>div>input {
    font-size: 20px;
    font-weight: 500;
}

h1,
h2 {
    color: #388e3c;
}

.left-zero-padding {
    padding-left: 0px;
}

.logo {
    height: 48px;
    width: 48px;
}

.v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
}

.input-file-lable {
    align-items: center;
    justify-content: center;
    position: absolute;
}

.ql-snow .ql-editor * {
    /* I know I could write "margin: 0; padding: 0;". But that's not performant. */
    font-family: 'Open Sans';
    line-height: 170%;
    color: #444;
}

.ql-snow .ql-editor p,
h1,
h2 {
    margin: 0;
    padding: 0;
}

.ql-snow .ql-editor h2 {
    margin-top: 20px;
}

.ql-snow .ql-editor h4 {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {

    /* For tablets: */
    .ql-snow .ql-editort {
        margin: 0 10% 30px 10%;
        width: 80%;
        max-width: 800px;
        padding-left: 0px;
        border: 0;
    }
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .ql-snow .ql-editor {
        margin: 0 5% 30px 5%;
        width: 90%;
    }

    .wrapper {
        padding: 5%;
    }
}