.container-after-toolbar {
    margin-top: 64px;
}

.toolbar_footer {
    z-index: 10;
}

.max-height {
    height: 100%;
}

.inherit-height {
    height: inherit;
}

.v-btn__content .v-icon {
    font-size: 16px;
}

.ql-picker-item span[data-value="Sans Serif"]::before {
    font-family: "Sans Serif";
}

.ql-font span[data-value="Inconsolata"]::before {
    font-family: "Inconsolata";
}

.ql-picker-item span[data-value="Roboto"]::before {
    font-family: "Roboto";
}

.ql-picker-item span[data-value="Mirza"]::before {
    font-family: "Mirza";
}

.ql-picker-item span[data-value="Arial"]::before {
    font-family: "Arial";
}

/* Set content font-families */

.ql-picker-item-inconsolata {
    font-family: "Inconsolata";
}

.ql-picker-item-roboto {
    font-family: "Roboto";
}

.ql-font-mirza {
    font-family: "Mirza";
}

.ql-font-arial {
    font-family: "Arial";
}

.h1>div>div>div>input {
    font-size: 2em;
    font-weight: bold;
}

.h2>div>div>div>input {
    font-size: 20px;
    font-weight: 500;
}

.left-zero-padding {
    padding-left: 0px;
}

.v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
}

.input-file-lable {
    align-items: center;
    justify-content: center;
    position: absolute;
}